*.wad
*.wad
*.bak
*.backup1
*.dbs
*.backup2
*.backup3
*.pk3
Data and Tools/Wads/
Data and Tools/Wads/TexturePacks/OTEX v1.0/OTEX_1.0.TXT
Data and Tools/Wads/TexturePacks/mlcetex/mlcetex.txt
Data and Tools/Wads/DESERTFL.png
Data and Tools/Wads/ARPGame.bat
Data and Tools/Wads/ARPGame.~wa
